<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
    <div>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>

    <div>
        <form method="post" action="{% url 'longurl' %}">
            {% csrf_token %}
            <button type="submit">Create URL</button>
        </form>
    </div>

    <h1>All URLs</h1>
    
    <table>
        <thead>
            <tr>
                <th>Original URL</th>
                <th>Short URL</th>
                <th>clicks</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>
                        <a href="{{ url.original_url }}" target="_blank">
                            {{ url.original_url }}
                        </a>
                    </td>
                    <td>
                        {% if url.short_url %}
                            <a href="{% url 'redirect-url' url.short_url %}" target="_blank">
                                {{ url.short_url }}
                            </a>
                        {% else %}
                            Not created
                        {% endif %}
                    </td>
                    
                        <td>
                            {{ url.clicks }}
                        </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No URLs available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>